@import "./common.scss";
.search-cont {
  text-align: center;
  .search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    input {
      width: 50vw;
      height: 5vh;
    }
  }
  .title-home {
    font-size: 2rem;
    color: pink;
    margin-top: 20px;
    a {
      position: fixed;
      top: 10px;
      left: 20px;
      font-size: 20px;
      text-decoration: none;
      color: red;
      &:hover {
        cursor: pointer;
      }
      img {
        margin-right: 10px;
      }
    }
    @media only screen and (max-width: 520px) {
      margin-top: 35px;
    }
  }
  .music-list {
    margin-bottom: 20px;
    text-align: center;
    ul {
      margin-bottom: 30px;
      .artist-name::before {
        content: "Artist Name: ";
        font-weight: 700;
      }
      .music-name::before {
        content: "Music Name: ";
        font-weight: 700;
      }
      .album-name::before {
        content: "Album Name: ";
        font-weight: 700;
      }
      a {
        font-family: Helvetica, sans-serif;
        text-decoration: none;
        font-size: 1rem;
        color: pink;
        font-weight: bold;
      }
      li {
        font-family: AcuminPro Bold, sans-serif;
        margin-bottom: 10px;
      }
    }
  }
}
