@font-face {
  font-family: Acumin Pro;
  src: url(../fonts/AcuminPro/AcuminPro-Regular.woff2);
  font-style: normal;
}
@font-face {
  font-family: AcuminPro Bold;
  src: url(../fonts/AcuminPro/AcuminPro-Bold.woff2);
  font-style: normal;
}
@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica/Helvetica.woff2);
  font-style: normal;
}
@font-face {
  font-family: Helvetica Bold;
  src: url(../fonts/Helvetica/Helvetica-Bold.woff2);
  font-style: normal;
}
@font-face {
  font-family: Helvetica Oblique;
  src: url(../fonts/Helvetica/Helvetica-Oblique.woff2);
  font-style: normal;
}
body {
  background-color: #f6f8f9;
}